.slider {
    padding: 0 0 5px;
    margin: 0;
}

.slides img {
    height: 500px;
    width: auto;
    padding: 0 3vh;
}

.slick-dots {
    bottom: -20px !important;
}

.slick-initialized .slick-slide {
    outline: none;
    border: none;
}