.slider {
    padding: 0;
    margin: 0;
}

.slides img {
    height: 500px !important;
    width: auto;
    padding: 0 1.5vh;
}

.slick-dots {
    bottom: 0 !important;
}

.slick-initialized .slick-slide {
    outline: none;
    border: none;
}


@media (max-width: 1024px) {

    .slides img {
        height: auto !important;
        width: calc(100% - 16px) !important;
        padding: 0 !important;
    }

}

@media (min-width: 1920px) {

    .slick-slide {
		display: none;
		float: left;
		height: 70vh;
		min-height: 1px;
	}
	
	.slides img {
		height: 70vh;
		width: auto;
		padding: 0 1.5vh;
	}

}