/*--------------------------------------------------------------
## Old Post
--------------------------------------------------------------*/



.post-template {
	height: 100vh;
    width: auto;
}

.post-template #site-navigation,
.post-template #navigationSearch {
	display: none;
}

.post-template .menu-menu-main-container {
	display: block;
}

.post-template-studio_001 .post-main #logoStudio,
.post-template-studio_002 .post-main #logoStudio {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 15%;
	right: 0;
	cursor: pointer;
	z-index: 2001 !important;
}

.post-template-studio_001 .post-main #logoStudio img,
.post-template-studio_002 .post-main #logoStudio img {
	max-height: 150px;
	width: auto;
}

.post-template-studio_001 .post-main .footer,
.post-template-studio_002 .post-main .footer {
	margin: 0;
	padding: 0 4rem;
	position: fixed;
	bottom: 4rem;
	left: 0;
	width: 100vw;
	height: 60px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	/* z-index: 1000; */
}

.post-template-studio_001 .post-main .footer .bottom-right,
.post-template-studio_002 .post-main .footer .bottom-right {
	text-align: right;
}

.post-template-studio_001 .post-main .footer .bottom-left,
.post-template-studio_002 .post-main .footer .bottom-left {
	text-align: left;
}

.post-template-studio_001 .post-main .header .top-right img,
.post-template-studio_002 .post-main .header .top-right img {
	max-height: 150px;
	width: auto;
}

.post-template-studio_001 .post-main .footer .bottom-left img,
.post-template-studio_001 .post-main .footer .bottom-right img,
.post-template-studio_002 .post-main .footer .bottom-left img,
.post-template-studio_002 .post-main .footer .bottom-right img  {
	max-height: 80px;
	width: auto;
}

.post-template-studio_001 .post-main #logoStudio img:hover,
.post-template-studio_001 .post-main .footer .bottom-right img:hover,
.post-template-studio_001 .post-main .footer .bottom-left img:hover,
.post-template-studio_002 .post-main #logoStudio img:hover,
.post-template-studio_002 .post-main .footer .bottom-right img:hover,
.post-template-studio_002 .post-main .footer .bottom-left img:hover {
	opacity: 0.7;
	cursor: pointer;
}

.post-template-studio_001 .post-main .central,
.post-template-studio_002 .post-main .central {
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 15%;
	left: 22.5%;
	width: 55%;
	height: 500px;
	z-index: 2;
}

.central-menu {
	width: 100%;
	  height: auto;
	  padding: 0;
	  margin: 0;
	  z-index: 1010;
  }
  
  .central-menu ul {
	  bottom: -15%;
	display: flex;
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .central-menu ul li {
	margin: 0 10px;
	padding: 0;
  }
  
  .central-slider {
	  position: relative;
	  width: 100%;
	height: auto;
	  margin: 0;
	overflow: auto;
	white-space: nowrap;
  }
  
  .central-slider::-webkit-scrollbar {
		display: none;
  }
  
  
  .central-slider img {
	display: inline-block;
	  margin: 0;
	  height: 500px;
	  width: auto;
  }

.post-template-studio_001 .post-main .central #post-info,
.post-template-studio_002 .post-main .central #post-info {
	display: none;
	margin: 0;
	padding: 2%;
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	background-color: rgba(245,245,245,0.9);
	/* backdrop-filter: blur(8px); */
	color: #1717E2;
	z-index: 20;

	font-size: 1rem;
	font-weight: 300;
}



#modalSeminar, 
#modalMAstudio, 
#modalBachelor, 
#modalLiveproject,
#insideModal {
	display: none;
	position: fixed;
	z-index: 20;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	border: 16px solid #1717E2;
}

#modalInfo {
	display: none;
	position: fixed;
	z-index: 10;
	padding: 0;
	margin: 0;
	top: 15%;
	left: 20%;
	width: 60%;
	height: 600px;
	overflow: auto; /* Enable scroll if needed */
}
 
#modalVideo {
	display: none;
	position: fixed;
	z-index: 10;
	padding: 0;
	margin: 0;
	top: 15%;
	left: 20%;
	width: 60%;
	height: 600px;
	overflow: auto; /* Enable scroll if needed */
}

#modalIntro {
	display: none;
	position: fixed;
	z-index: 10;
	padding: 0;
	margin: 0;
	top: 15%;
	left: 20%;
	width: 60%;
	height: 600px;
	overflow: auto; /* Enable scroll if needed */
}
  
#modalSeminar .modal-content,
#modalMAstudio .modal-content,
#modalBachelor .modal-content,
#modalLiveproject .modal-content,
#insideModal .modal-content{
	background-color: #F3F3F3;
	margin: 6% auto;
    padding: 0 5%;
	width: 70%;
}

#modalInfo .modal-content {
	background-color: rgba(245,245,245,0.9);
	/* backdrop-filter: blur(8px); */
	margin: 0;
	padding: 2%;
	height: 550px;
}

#modalVideo .modal-content {
	background-color: #F3F3F3;
	margin: 0;
	padding: 0;
	height: 550px;
}

/* #modalIntro .modal-content {
	background-color: #1717E2;
	color: #F3F3F3;
	margin: 0;
	padding: 2%;
	height: 500px;
} */

.close {
	display: none;
	color: #1717E2;
	float: right;
	font-size: 28px;
	font-weight: 300;
}

#closeSeminar,
#closeMAstudio,
#closeBachelor,
#closeLiveproject {
	color: #1717E2;
	float: right;
	font-size: 20px;
	font-weight: 300;
}
  
#closeSeminar:hover,
#closeMAstudio:hover,
#closeBachelor:hover,
#closeLiveproject:hover,
#closeInsidemodal:hover,
#closeSeminar:focus,
#closeMAstudio:focus,
#closeBachelor:focus,
#closeLiveproject:focus,
#closeInsidemodal:focus {
	color: #1717E2;
	text-decoration: none;
	cursor: pointer;
}

.gallery_studio {
    height: 500px;
	width: 100%;
	overflow: auto;

}

.gallery_studio ul {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 30px;
	row-gap: 10px;
}

#openVideo:hover,
#openSeminar:hover,
#openMAstudio:hover,
#openBachelor:hover,
#openLiveproject:hover,
#linkPdf:hover {
	cursor: pointer;
	opacity: 0.7;
}

#openVideo {
	position: absolute;
    bottom: 20%;
	right: 20px;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
	column-gap: 5px;
}

#linkPdf {
	position: absolute;
    bottom: 20%;
	right: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	column-gap: 5px;
}

#openVideo h3,
#linkPdf h3 {
	font-weight: 300;
	text-transform: uppercase;
}

#linkPdf h3 {
	font-weight: 300;
	text-transform: uppercase;
	color: #F3F3F3;
}

#openVideo span img {
	max-width: 70%;
	margin-top: 10%;
}

#linkPdf span img {
	max-width: 70%;
	margin-top: 20%;
}


.gallery-insidemodal {
	position: relative;
	width: 100%;
  	height: 507px;
	margin: 0;
  	overflow: auto;
  	white-space: nowrap;
	background-color: #F3F3F3;
}

.gallery-insidemodal::-webkit-scrollbar {
  	display: none;
}

.gallery-insidemodal img {
    height: 507px;
	width: auto;
}

@media (max-width: 1024px) {
	
	.post-template-studio_001 .post-main .central {
		display: block;
		margin: 2%;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 96%;
		height: 100%;
		z-index: 2;
	}

	.post-template-studio_001 .post-main .central-hidden {
		display: block;
		margin: 2%;
		padding: 0;
		position: absolute;
		top: 100%;
		left: 0;
		width: 96%;
		height: 99%;
		z-index: 1;
	}

	.post-template-studio_001 .post-main .central-hidden #post-intro {
		display: block;
		margin: 0;
		padding: 2% 2% 20% 2%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		color: white;
		background-color: #1717E2;
		font-size: 1rem;
		font-weight: 300;
	}

	#modalInfo, 
	#modalVideo,
	#modalIntro {
		display: none;
		position: fixed;
		z-index: 10;
		padding: 0;
		margin: 0;
		top: 0;
		left: 16px;
		width: calc(100vw - 32px);
		height: 550px;
		overflow: auto; /* Enable scroll if needed */
		z-index: 20000;
	}

	#modalInfo .modal-content,
	#modalIntro .modal-content {
		background-color: #1717E2;
		/* backdrop-filter: blur(8px); */
		margin: 0;
		padding: 4% 2%;
		height: 500px;
		color: #F3F3F3;
	}
	
	#modalVideo .modal-content {
		background-color: #1717E2;
		margin: 0;
		padding: 0;
		height: 500px;
	}

	#openVideo {
		position: absolute;
		bottom: 60px;
		right: 20px;
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: 1fr;
		column-gap: 5px;
	}

	#linkPdf {
		position: absolute;
		bottom: 10px;
		right: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		column-gap: 5px;
	}

	.slides img {
		height: auto !important;
		width: calc(100% - 16px) !important;
		padding: 0 !important;
	  }
}


/* 01/07 */

.page-template-template_news #site-navigation,
.page-template-template_news #navigationSearch {
	display: block;
}

.page-template-template_chatroom #site-navigation,
.page-template-template_chatroom #navigationSearch {
	display: block;
}

.page-template-template_staticpage_threecol #site-navigation,
.page-template-template_staticpage_threecol #navigationSearch {
	display: block;
}

.page-template-template_staticpage_twocol #site-navigation,
.page-template-template_staticpage_twocol #navigationSearch {
	display: block;
}

.studio-parent-slider,
.studio-child-slider {
	min-height: 600px;
}

.wp-block-getwid-post-slider.has-arrows-inside .slick-prev {
    left: 25px;
    top: 215px;
}

.wp-block-getwid-post-slider.has-arrows-inside .slick-next {
    right: 25px;
    top: 215px;
}

.slick-next:before, .slick-prev:before {
    font-family: "myriad-pro", Helvetica, Arial, sans-serif;
    color: #1717E2 !important;
    font-size: 30px;
    line-height: 1;
    opacity: 1;
}

.slick-prev:before {
    content: url("http://staging-tuberlinifa.kinsta.cloud/wp-content/uploads/2020/07/prev@2x.png");
}

.slick-next:before {
    content: url("http://staging-tuberlinifa.kinsta.cloud/wp-content/uploads/2020/07/next@2x.png");
}

.wp-block-getwid-template-post-title__link,
.wp-block-getwid-template-post-title__link:visited,
.wp-block-getwid-template-post-title__link:active {
    color: inherit;
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
}

.wp-block-getwid-template-post-title__link:hover {
		text-decoration: underline;
  	text-shadow: -0.2px 0 #1717E2, 0 0.2px #1717E2, 0.2px 0 #1717E2, 0 -0.2px #1717E2;
}

@media (max-width: 1024px) {
	
	.page-template-template-parent .site-main_mobile .floor-pad {
		position: fixed;
    top: 30px;
    right: 30px;
		width: 40px;
		height: 50px;
	}
	
	.page-template-template-parent .site-main_mobile .floor-pad a {
		font-size: 1.2rem !important;
	}
	
	.page-template-template-parent .site-main {
		display: block;
	}
	
	.page-template-template-parent .site-main_mobile {
		display: none;
		background-color: #F3F3F3;
	}
	
	.page-template-template-parent  {
    height: inherit;
    width: auto;
		overflow: hidden !important;
}
	
	.page-template-template-child {
    height: 100%;
    width: auto;
		overflow: hidden !important;
}
	
	.page-template-template-parent .entry-content {
	position: absolute;
  top: 35%;
  left: 16px;
  width: calc(100vw - 32px);
  height: 500px;
	margin: 0 auto;
	padding: 0;
	overflow: auto;
}
	
	.page-template-template-child .entry-content {
    position: absolute;
    top: 170px;
    left: 16px;
    width: calc(100vw - 32px);
    height: 500px;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}
	
	.post-template-program .entry-content {
    position: absolute;
    top: 170px;
    left: 16px;
    width: calc(100% - 32px);
    height: 500px;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}
	
	.page-template-template-parent
	.logo-studio_mobile {
		position: fixed;
    bottom: 5%;
		left: 45%;
		width: 10%;
	}
	
	.floor-pad_mobile {
		position: fixed;
		right: 30px;
		top: 30px;
	}
	
	.page-template-template-child .site-main #logoStudio,
	.post-template-program .site-main #logoStudio{
    position: fixed;
    bottom: 0;
		right: 5%;
		width: 10%;
	}
	
	.cover-mobile {
    height: 100vh;
	}
	
	.studio-list-mobile, .info-mobile {
		background-color: #F3F3F3;
		color: #1717E2;
		padding: 5%;
	}
	
	.intro-mobile {
		background-color: #1717E2;
		color: #F3F3F3;
		padding: 5%;
	}
	
	.page-news {
    height: 100vh;
    padding-top: 170px;
    margin: 0;
    overflow: auto;
}
	
	.main-navigation .menu-menu-main-container {
		position: absolute;
    left: 0;
    top: 0;
    background-color: #1717E2;
		color: #F3F3F3;
    z-index: 1000;
    width: fit-content;
    height: fit-content;
    margin-top: 133px;
}

	.nav--search {
    position: fixed;
    top: 140px;
    left: 5%;
    z-index: 1000;
		visibility: hidden;
	}
	
	.page-foyer {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 16px;
    padding: 0;
    width: calc(100% - 32px);
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

}

/* 02/07 */

.foyer-mobile {
	display: none;
}

/*#modalIntro {
	display: none;
	position: fixed;
	z-index: 10;
	padding: 0;
	margin: 0;
	top: 15%;
	left: 20%;
	width: 60%;
	height: 550px;
	overflow: auto;
}

#modalIntro .modal-content {
	background-color: #1717E2;	color: rgba(245,245,245,0.9);
	margin: 0;
	padding: 2%;
	height: 550px;
}*/

@media (max-width: 1024px) {
	
.main-navigation li {
		margin: 10px 5px;
		width: fit-content;
	}

.main-navigation li a {
		font-size: 0.8rem;
		font-weight: 300;
		color: #F3F3F3;
	}
	
.page-template-template_foyer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 7308px;
		overflow-y: auto !important;
		overflow-x: hidden !important;
	}
	
.foyer-mobile {
		display: block;
	}
	
.page-template-template_foyer .site-main--page-main {
		display: none;
	}
	
.foyer-mobile img {
		width: 100vw;
		height: auto;
	}
	
.foyer-mobile .studio-names {
		width: 100vw;
		height: auto;
		position: absolute;
		top: 0;
		left: -16px;
	}
	
.foyer-mobile .background-names {
		width: 100vw;
		height: auto;
		position: absolute;
		top: 0;
		left: -16px;
	}*/
	
}

/* 06/07 */

/* .post-template .entry-content .slick-next .slick-arrow,
.post-template .entry-content .slick-prev .slick-arrow{
	display: none;
} */

@media (max-width: 1024px) {
	
.page-template-template_staticpage_threecol #site-navigation,
.page-template-template_staticpage_threecol #navigationSearch,
.page-template-template_staticpage_twocol #site-navigation,
.page-template-template_staticpage_twocol #navigationSearch,
.page-template-template_chatroom #site-navigation,
.page-template-template_chatroom #navigationSearch,
.page-template-template_news #site-navigation,
.page-template-template_news #navigationSearch{
			display: none;
	}
	
/*.slick-prev:before {
    display: none;
}

.slick-next:before {
    display: none;
}*/
	
	#modalIntro {
		display: none;
		position: fixed;
		z-index: 10;
		padding: 0;
		margin: 0;
		top: 0;
		left: 16px;
		width: calc(100vw - 32px);
		height: 550px;
		overflow: auto; /* Enable scroll if needed */
		z-index: 20000;
	}
	
	/*.slides img {
    height: auto !important;
    width: calc(100% - 16px) !important;
    padding: 0 !important;
  } */
	
	
}

/* 07/07 */

.page-template-template_types {
	margin: 0;
	padding: 0;
	background-color: white;
	border-left: none;
	border-right: none;
}

.page-template-template_types:before {
    top: 0;
}
.page-template-template_types:before, .page-template-template_types:after {
    content: "";
    position: relative;
    background: white;
    left: 0;
    right: 0;
    height: 0;
}

.page-template-template_types .custom-logo-link {
	display: none;
}

.page-template-template_types .titleTypes:hover,
.page-template-template_types .arrowsTypes:hover {
	cursor: pointer;
	opacity: 0.8;
}

.page-template-template_types .info-type {
	display: grid;
	grid-template-columns: 2fr 5fr 2fr;
}

.page-template-template_types .intro-types {
	width: 100vw;
	height: 12vh;
	padding: 0 5%;
	overflow: auto;
	background: rgb(255,255,255);
background: -moz-linear-gradient(180deg, rgba(255,255,255,0.4990371148459384) 50%, rgba(211,211,211,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.4990371148459384) 50%, rgba(211,211,211,1) 100%);
background: linear-gradient(180deg, rgba(255,255,255,0.4990371148459384) 50%, rgba(211,211,211,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#d3d3d3",GradientType=1);
}

.page-template-template_types #titleTypes {
	color: #707070;
}

.page-template-template_types #titleTypes h1,
.page-template-template_types #arrowsTypes h1 {
	font-size: 55px;
	margin: 0 !important;
	cursor: pointer;
}

.page-template-template_types #arrowOne {
	color: #B7B7B7;
	font-size: 55px;
}

.page-template-template_types #arrowTwo {
	color: #9B9898;
	font-size: 55px;
}

.page-template-template_types #arrowThree {
	color: #707070;
	font-size: 55px;
}

.page-template-template_types #infoTypes {
	width: 30%;
	height: auto;
}

.page-template-template_types #knowledgeTypes {
	text-align: center;
	margin: 0;
	padding: 0;
}

.page-template-template_types #knowledgeTypes h1 {
	color: #707070;
}

.page-template-template_types #infoTypes {
	margin: 2% 0 0 0;
}

.page-template-template_types #infoTypes p {
	color: #858585;
}

.page-template-template_types .entry-content, .entry-summary {
    margin: 0;
		padding: 0;
}

.page-template-template_types .wp-block-getwid-custom-post-type__post-thumbnail a {
    width: 100vw;
    height: 25vh;
}

.page-template-template_types .wp-block-getwid-custom-post-type__post {
    margin-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.title-preview-movies {
	display: none;
}